{% extends 'zemax/base.html' %}

{% block title %}
<title>{{ object.address }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ object.house_image.url }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ object.house_image2.url }}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ object.house_image.url }}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <h1>{{ object.address }} (Built {{object.year}})</h1>
    <br>
    <p>{{ object.description }}</p>
    <br>
    <h4>Bedrooms: {{ object.bedrooms }}</h4>
    <h4>Bathrooms: {{ object.bathrooms }}</h4>
    <h4>Square Feet: {{ object.square_feet }}</h4>
    <h4>Ask Price: ${{ object.price }}</h4>
    <br>
    For more details, contact {{object.agent}} at {{object.contact}}.
    <br>
    <br>
    <br>
</div>

{% endblock %}


